.check-button {
    border-radius: 3px;
    font-size: large;
    margin: 3px;
}


.close-button {
    font-size: large;
    color: red;
    margin: 3px;
}

.list-item {
    max-width: 50%;
    display: flex;
    flex-direction: row; /* Arranges items horizontally */
    justify-content: space-evenly;
    gap: 10px;
}